body {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

span {
    display: inline-block;
    margin: 0.5em;
    text-align: center;
    background-color: #ccc;
    width: 24px;
    border-radius: 50%;
    cursor: pointer;
}

.fa-star {
    margin: 0.5em;
    font-size: 24px;
}

.selected {
    background-color: #eee;
    color: #ddd;
    cursor: not-allowed;
}

.used {
    background-color: #aaddaa;
    color: #99bb99;
    cursor: not-allowed;
}