.volumeSlider {
  text-align: center;
  float: left;
}

.slider {
  writing-mode: bt-lr; /* IE */
  -webkit-appearance: slider-vertical; /* WebKit */
  height: 200px;
  width: 20px;
}

.volumeUp {
  margin-bottom: 5px;
}

.volumeDown {
  margin-top: 5px;
}

.volumeUp:hover,
.volumeDown:hover {
  cursor: pointer;
}

.volumeUp:active,
.volumeDown:active {
  color: rgba(0, 0, 0, 0.58);
}
